@import "./Utils/StyleUtils";

* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.app__header,
.app__main {
  transition: background-color 1s ease-in;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app__header.clear {
  background-color: $clear-header-bg;
}
.app__header.partlycloudy {
  background-color: $partlycloudy-header-bg;
}
.app__header.rain {
  background-color: $rain-header-bg;
}
.app__header.storm {
  background-color: $storm-header-bg;
}
.app__header.drizzle {
  background-color: $drizzle-header-bg;
}
.app__header.fog {
  background-color: $fog-header-bg;
}
.app__header.mostlycloudy {
  background-color: $mostlycloudy-header-bg;
}
.app__header.unknown {
  background-color: $unknown-header-bg;
}

.app__main {
  justify-content: center;
  flex: 1;
  // background-color: $clear-color;
  overflow-x: hidden;
}

.app__main.clear {
  background-color: $clear-color;
}
.app__main.partlycloudy {
  background-color: $partlycloudy-color;
}
.app__main.rain {
  background-color: $rain-color;
}
.app__main.storm {
  background-color: $storm-color;
}
.app__main.drizzle {
  background-color: $drizzle-color;
}
.app__main.fog {
  background-color: $fog-color;
}
.app__main.mostlycloudy {
  background-color: $mostlycloudy-color;
}
.app__main.unknown {
  background-color: $unknown-color;
}
